In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
animals = ["tiger","bear","mouse"]
pd.Series(animals)

0    tiger
1     bear
2    mouse
dtype: object

In [3]:
numbers = [1,2,3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [4]:
np.nan==None

False

In [5]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [6]:
s.index # key values

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [7]:
s = pd.Series(['tiger','bear','mouse'],index=['India','America','Canada'])
s

India      tiger
America     bear
Canada     mouse
dtype: object