---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [11]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [12]:
"""
Series is a one-dimensional "labeled" array capable of holding any data type 
(integers, strings, floating point numbers, Python objects, etc.)
"""

animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [13]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [14]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [15]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [16]:
np.nan == None

False

In [17]:
np.nan == np.nan

False

In [18]:
np.nan != np.nan

True

In [19]:
np.isnan(np.nan)

True

In [20]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [21]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [22]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [23]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey','Taekwondo'])
s

Golf            Scotland
Sumo               Japan
Hockey               NaN
Taekwondo    South Korea
dtype: object

# Querying a Series

In [24]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [25]:
# access row number index 3
s.iloc[3]

'South Korea'

In [26]:
#specify a row name
s.loc['Golf']

'Scotland'

In [27]:
# 0,1,2,3. And 3 is Korea
s[3]

'South Korea'

In [28]:
s['Golf']

'Scotland'

In [29]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [50]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

754

In [51]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [52]:
total = 0
for item in s:
    total+=item
print(total)

324.0

In [53]:
import numpy as np

total = np.sum(s)
print(total)

324.0

In [54]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head(10)

0    789
1    137
2     46
3    612
4     16
5     65
6    913
7    275
8    902
9    855
dtype: int64

In [55]:
len(s)

10000

In [56]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

1.08 ms ± 92 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [57]:
%%timeit -n 100
summary = np.sum(s)

57.2 µs ± 4.59 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [58]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0    791
1    139
2     48
3    614
4     18
dtype: int64

In [59]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

AttributeError: 'Series' object has no attribute 'set_value'

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

In [ ]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

In [ ]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

# append doesn't change the original objects

In [ ]:
original_sports

In [ ]:
cricket_loving_countries

In [ ]:
all_countries

In [ ]:
all_countries.loc['Cricket']

# The DataFrame Data Structure

In [ ]:
import pandas as pd
# 2-D Labeled data structure with columns of potentially different types.
# A spreadsheed or SQL table
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

In [ ]:
df.loc['Store 2']

In [ ]:
#same as 
df.iloc[2]

In [ ]:
type(df.loc['Store 2'])

In [ ]:
df.loc['Store 1']

In [ ]:
df.loc['Store 1', 'Cost']

In [ ]:
df.T

In [ ]:
df.T.loc['Cost']

In [ ]:
df['Cost']

In [ ]:
df.loc['Store 1']['Cost']

In [ ]:
df

In [ ]:
df.loc[:, ['Item Purchased']]

In [ ]:
df.loc[:,['Name', 'Cost']]

In [ ]:
#it doesn't change the original df
df.drop('Store 1')

In [ ]:
#df stays the same
df

In [ ]:
#make a copy to a new df, then make some change
copy_df = df.copy()
copy_df = copy_df.drop('Store 2')
copy_df

In [ ]:
#drop a column
copy_df = copy_df.drop(["Cost"], axis = 1)
copy_df

In [ ]:
copy_df.iloc?

In [ ]:
del copy_df['Name']
copy_df

In [ ]:
df['Location'] = None
df

# Dataframe Indexing and Loading

In [ ]:
costs = df['Cost']
costs

In [ ]:
df

In [ ]:
costs+=2
costs

In [ ]:
df

In [ ]:
!cat olympics.csv

In [ ]:
df = pd.read_csv('olympics.csv')
df.head()

In [ ]:
# set the index column as 0, instead of default index
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

In [ ]:
df.columns

In [ ]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

# Querying a DataFrame

In [ ]:
df['Gold'] > 0

In [ ]:
only_gold = df.where(df['Gold'] > 0) # Keeps rows with no entries as NaN
only_gold.head()

In [ ]:
only_gold['Gold'].count()

In [ ]:
df['Gold'].count()

In [ ]:
only_gold = only_gold.dropna()
only_gold.head()

In [ ]:
only_gold = df[df['Gold'] > 0] # Automatically removes rows with no entries
only_gold.head()

In [ ]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

# Indexing Dataframes

In [ ]:
df.head()

In [ ]:
df['country'] = df.index
df = df.set_index('Gold')
df.head()

In [ ]:
df = df.reset_index()
df.head()

In [ ]:
df = pd.read_csv('census.csv')
df.head()

In [ ]:
df['SUMLEV'].unique()

In [ ]:
df=df[df['SUMLEV'] == 50]
df.head()

In [ ]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

In [ ]:
# set STNAME and CTYNAME as index column
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

In [ ]:
df.loc['Michigan', 'Washtenaw County']

In [ ]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

# Missing values

In [ ]:
df = pd.read_csv('log.csv')
df

In [ ]:
df.fillna?

In [ ]:
df = df.set_index('time')
df = df.sort_index()
df

In [ ]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df

In [ ]:
"""
Ffill or forward-fill propagates the last observed non-null value forward until 
another non-null value is encountered.

Bfill or backward-fill propagates the first observed non-null value backward until 
another non-null value is met
"""
df = df.fillna(method='ffill')
df